.search {
  width: 90%;
  padding: 1rem;
  input {
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 2.5rem;
    width: 80%;
    padding-left: 1rem;
  }
  button {
    font-size: 1rem;
    height: 2.5rem;
    width: 18%;
    margin-left: 2%;
    background: orange;
    outline: none;
    border: none;
    border-radius: 4px;
  }
}